{
  "extends": "@umijs/lint/dist/config/stylelint",
  "rules": {
    "alpha-value-notation": null,
    "property-no-vendor-prefix": null,
    "selector-class-pattern": null,
    "rule-empty-line-before": null,
    "declaration-empty-line-before": null,
    "declaration-block-single-line-max-declarations": null,
    "color-hex-length": null,
    "font-family-name-quotes": null,
    "custom-property-empty-line-before": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "function-no-unknown": null,
    "keyframes-name-pattern": null,
    "no-duplicate-selectors": null,
    "value-keyword-case": null
  }
}
